server {
    listen       80;
    listen  [::]:80;
    server_name  {{ nginx['server_name'] }};
    root  {{ document_root }};

    access_log  {{ nginx['access_log'] }}  main;
    error_log  {{ nginx['error_log'] }};

    location / {
        index  index.html index.htm;
    }

    location ~ /\.ht {
        deny  all;
    }

    location ~ \.php$ {
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_index index.php;
        include fastcgi_params;
    }
}